<div class="accordion-item {{#if loading}}loading{{/if}}">
    <h2 class="accordion-header" >
        <button class="accordion-button {{#if @index}}collapsed{{/if}}" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse{{@index}}" aria-expanded="{{@index}}"
                aria-controls="collapse{{@index}}">
            {{name}}
        </button>
    </h2>
    <div id="collapse{{@index}}"
         class="accordion-collapse collapse {{#unless @index}}show{{/unless}}"
         aria-labelledby="heading{{@index}}"
         data-bs-parent="#accordionCourse"
         data-sectionId="{{sectionId}}"
    >
        <div class="accordion-body">
            <ul>
                {{#each lessons as |l|}}
                    <li>
                        <div>
                            {{#unless loading}}<img src="/img/play-circle-solid.svg" alt="play"/>{{/unless}}
                            <span
                                    data-accountId="{{l.accountId}}"
                                    data-courseId="{{l.courseId}}"
                                    data-sectionId="{{l.sectionId}}"
                                    data-lessonId="{{l.lessonId}}"
                                    data-link="{{l.link}}"
                            >{{l.name}}</span>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
