<div class="my-card {{#if loading}}loading{{/if}}">
    <div class="my-card-header">
        {{#unless loading}}
            {{#if picture}}
                <img src="data:image/jpg;base64, {{picture}}" alt={{name}}/>
            {{else}}
                {{> no-image}}
            {{/if}}
        {{/unless}}
    </div>
    <div class="my-card-body">
        <div class="title">{{name}}</div>
        <div class="subtitle">{{courseInfo.description}}</div>
    </div>
</div>
